.clock-group {
  float: right;
  margin: 0 5px 0 1px;
}

.system-clock-colon {
  font-family: "AramidLight", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: auto;
  line-height: 18px;
  width: 8px;
  padding-top: 3px;
  padding-bottom: 2px;
}

.system-clock-hour {
  font-family: "AramidMono", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  float: left;
  height: 24px;
  width: 29px;
  line-height: 24px;
}

.system-clock-minute {
  font-family: "AramidMono", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  float: left;
  height: 24px;
  width: 29px;
  line-height: 24px;
}

.system-clock-second {
  font-family: "AramidMono", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  float: left;
  height: 24px;
  width: 29px;
  line-height: 24px;
}

.system-clock-timezone {
  font-size: 9px;
  float: right;
  height: 11px;
  clear: both;
  text-transform: uppercase;
  padding-bottom: 2px;
}

.system-clock-date {
  font-size: 9px;
  float: right;
  height: 11px;
  clear: both;
  text-transform: uppercase;
  padding-bottom: 2px;
}
