<div class="default-layout">
  <div class="watch-list-container">
    <table>
      <thead>
        <tr>
          <th>
            <span>Instrument</span>
          </th>

          <th>
            <span>Last</span>
          </th>

          <th>
            <span>Net change</span>
          </th>

          <th>
            <span>Net change %</span>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            <span>EUR/USD</span>
          </td>

          <td>
            <span>1.014520</span>
          </td>

          <td>
            <span>+0.2565</span>
          </td>

          <td>
            <span>+0.54%</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="chart-container">
  </div>

  <div class="trading-pane-container">
  </div>
</div>
