<div class="order-entry__container">
  <!-- Account select -->
  <div class="order-entry__account-select">
    <select >
      <option *ngFor="let account of accounts" [value]="account.id" (change)="accountId = account.id">
        {{ account.name }} ({{ account.id }})
      </option>
    </select>
  </div>

  <!-- Symbol search -->
  <div>
    <input style="border-radius: 10000px;" type="text" placeholder="Search for a symbol">
  </div>

  <!-- Trade type (Buy/sell) switch -->
  <div>
    <button [class.active]="tradeType === 'buy'" (click)="tradeType = 'buy'">Buy</button>
    <button [class.active]="tradeType === 'sell'" (click)="tradeType = 'sell'">Sell</button>
  </div>

  <!-- order type select -->
  <div>
    <select>
      <option *ngFor="let orderType of orderTypes" [value]="orderType">{{ orderType }}</option>
    </select>

  <!-- Time in force select -->
  <div>
    <select>
      <option *ngFor="let timeInForce of timeInForces" [value]="timeInForce">{{ timeInForce }}</option>
    </select>
  </div>

  <!-- Quantity input -->
  <div>
    <input type="number" placeholder="Quantity" [value]="quantity">
  </div>

  <!-- Place order button -->
  <div>
    <button class=""
      (click)="placeOrder(accountId, symbol, tradeType, orderType, timeInForce, quantity)"
    >Place Order</button>
  </div>
</div>
