
.trading-clock {
  float: right;
  margin: 0;
  padding: 8px 20px 0 0;
  overflow: hidden;
  height: 40px;
}

.clock-group {
  float: right;
  margin: 0 5px 0 1px;
}

.clock-timezone {
  font-size: 9px;
  float: right;
  height: 11px;
  clear: both;
  color: #8b929c;
  text-transform: uppercase;
  padding-bottom: 2px;
}

.clock-date {
  font-size: 9px;
  float: right;
  height: 11px;
  clear: both;
  color: #8b929c;
  text-transform: uppercase;
  padding-bottom: 2px;
}

.clock-hour {
  font-family: "AramidMono", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  float: left;
  height: 27px;
  width: 29px;
  color: #b0b6bd;
  line-height: 27px;
}

.clock-minute {
  font-family: "AramidMono", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  float: left;
  height: 27px;
  width: 29px;
  color: #b0b6bd;
  line-height: 27px;
}

.clock-second {
  font-family: "AramidMono", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  float: left;
  height: 27px;
  width: 29px;
  color: #b0b6bd;
  line-height: 27px;
}

.clock-colon {
  font-family: "AramidMono", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  float: left;
  height: 27px;
  width: 29px;
  color: #b0b6bd;
  line-height: 27px;
  font-family: "AramidLight", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: auto;
  line-height: 18px;
  width: 8px;
  padding-top: 3px;
  padding-bottom: 2px;
}
