
.header {
  padding: 0;
  position: absolute;
  height: 0;
  top: 0;
  left: 0;
  right: 0;
  padding-right: 13px;
  z-index: 121;
  min-width: 685px;
  background-color: #000;
}

.header-image {
  float: left;
  height: 40px;
  overflow: hidden;
  -moz-user-select: none;
  padding-top: 8px;
  margin-top: 4px;
}

.logo {
  width: 258px;
  height: 32px;
  margin-left: 10px;
  background-position-y: 0;
}
