<div class="header">
  <div class="header-image">
    <div class="logo"></div>
  </div>

  <div class="trading-clock">
    <div class="clock-group">
      <div class="clock-hour">15</div>
      <div class="clock-colon">:</div>
      <div class="clock-minute">13</div>
      <div class="clock-colon">:</div>
      <div class="clock-second">38</div>
    </div>

    <div class="clock-group">
      <div class="clock-timezone">UTC</div>
      <div class="clock-date">2024-01-01</div>
    </div>
  </div>
</div>

<div class="stage">
  <router-outlet />
</div>

