<style>
</style>

<main class="main">
  <div class="content">
    <label>Account</label>
    <select>
      <option>Live Account (000-8283782) - Kgi</option>
      <option>Demo Account (SIM-1234567890) - RichillCapital</option>
    </select>

    <label>Symbol</label>
    <input type="text"/>

    <label>Quantity</label>
    <input type="number"/>

    <label>Trade Type</label>
    <button type="button">Buy</button>
    <button type="button">Sell</button>
    <button type="button">Submit</button>

  </div>
</main>

<router-outlet />
