<div class="default-layout">
  <div class="left-container">
    <div>
      <div style="position: relative; z-index: 100; transform: translate(0px, 0px, 0px);">
        <div style="animation: fadeIn 0.5s forwards;">
          <watch-list/>
        </div>
      </div>
    </div>
  </div>

  <div class="center-container">
    <div class="center-top-container">
      <trading-view-chart/>
    </div>

    <div>
      <trading-pane />
    </div>
  </div>

  <div class="right-container">
    <order-pane/>
  </div>
</div>
