<div class="top-bar-root">
  <div class="top-bar">
    <site-logo/>
    <site-brand/>
    <system-clock/>

    <div class="top-bar-buttons-container">
      <div style="position: relative;">
        <a href="#" title="Notifications" role="button">
          <svg height="100%" width="100%" aria-hidden="true" role="presentation" focusable="false"><use href="#Notifications"></use></svg>
        </a>
      </div>

      <a href="#" title="Settings" role="button">
        <svg height="100%" width="100%" aria-hidden="true" role="presentation" focusable="false"><use href="#Settings"></use></svg>
      </a>
    </div>

    <current-user/>
  </div>
</div>
