<div class="top-bar-root un-selectable">
  <div class="top-bar">
    <a class="top-bar-button feature-button" href="/" title="Show feature menu" role="button">
      <svg height="100%" width="100%" role="presentation" focusable="false">
        <use href="#FxSymbol0-003"></use>
      </svg>
    </a>

    <brand [text]="applicationName" />

    <div class="top-bar-placeholder"></div>

    <system-clock />

    <div class="top-bar-buttons">
      <div style="position: relative;">
        <a class="top-bar-button" href="#" role="button" title="Notifications">
          <svg height="100%" width="100%" role="presentation" focusable="false">
            <use href="#FxSymbol0-008"></use>
          </svg>
        </a>
      </div>

      <a class="top-bar-button" href="#" role="button" title="Settings">
        <svg height="100%" width="100%" role="presentation" focusable="false">
          <use href="#FxSymbol0-009"></use>
        </svg>
      </a>
    </div>

    <current-user />
  </div>
</div>
