@use '../../assets/styles/colors.scss' as *;

.top-bar-root {
  height: 40px;
  position: relative;
  z-index: 5;
  flex: 0 0 auto;
  font-size: 13px;
  background-color: $color-top-bar-background;
  color: $color-top-bar-text;

  // un selectable
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.top-bar {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  -webkit-app-region: drag;
  display: flex;
  align-content: center;
  align-items: center;
}

.top-bar-placeholder {
  flex: 1 1 auto;
}

.top-bar-buttons {
  display: flex;
  flex: 0 0 auto;
}

.top-bar-button {
  display: flex;
  height: 40px;
  width: 40px;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  color: $color-link;
  fill: $color-top-bar-text;
}

.top-bar-button svg {
  height: 16px;
  width: 16px;
}
