@use '../../assets/styles/colors.scss' as *;

.top-bar-root {
  background-color: $color-top-bar-background;
  color: $color-top-bar-text;

  font-size: 13px;
  height: 64px;

  // Un-selectable
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.top-bar {
  display: flex;
  align-items: center;
}

.top-bar-buttons-container {
  display: flex;
  flex: 0 0 auto;
}
