* {
  box-sizing: border-box;
}

body {
  forced-color-adjust: none;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', system-ui, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Web', sans-serif;
  font-size: 1.4rem;
  line-height: 1.4286;
  color: #fff;
  background-color: #141414;
  overflow: hidden;
  touch-action: none;
  width: 100%;
  height: 100%;
}
