// Font
$fontFamilyBase: -apple-system, BlinkMacSystemFont,
  'Segoe UI',
  'Apple Color Emoji',
  'Segoe UI Emoji',
  'Segoe UI Web', sans-serif;

// Foreground and background colors
$themeColor: #FFF;
$themeBackgroundColor: #141414;

// Color schemes
$bullishColor: #35A24A;
$bearishColor: #E52545;

body {
  font-family: $fontFamilyBase;
  font-size: 1.4rem;
  line-height: 1.4286;

  color: $themeColor;
  background-color: $themeBackgroundColor;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

  touch-action: none;
}
