body {
  margin: 0;
  font-size: 13px;
  color: #222;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  margin: 0;
  height: 100%;
  background: #000;
  overflow: hidden;
  color: #dde0e4;
  font-family: sans-serif;
  margin: 0px;
  background-color: rgb(25, 28, 34);
  display: block;
}
