$color-bullish: #3AF277;
$color-bearish: #FF6341;

$color-todo-background-secondary: #323130;
$color-tile-overlay: rgba(0, 0, 0, .4);
$color-pill-focus-background: #72716e;

$todo-graph-node-fill: #605e5c;
$todo-graph-node-fill-hover: #7b7978;
$todo-graph-node-background: #605e5c;
$todo-graph-node-background-hover: #7b7978;
$todo-chart-line: #414141;
$todo-chart-text-fill: #ccc;
$todo-focus-row-hover: #414141;
$todo-background-light: #292929;
$todo-background-muted: #585858;
$todo-background-muted-80-10: #292929;
$todo-background-muted-82-10: #292929;
$todo-background-mutedHover: #888;
$todo-background-inverted: #b8b8b8;
$todo-border-muted: #414141;
$todo-border-muted-80-20: #292929;
$todo-border-inverted: #b8b8b8;
$todo-icon-muted: #888;
$todo-icon-heavy: #a0a0a0;
$todo-scrollbar-thumb: #585858;
$todo-external-border: #605e5c;
$todo-external-border-hover: #00bcf2;
$todo-external-border-selected: #00bcf2;
$todo-external-text-muted: #bbb;

$shadow-level-1: 0 1.6px 3.6px 0 rgba(0, 0, 0, .26), 0 .3px .9px 0 rgba(0, 0, 0, .22);
$shadow-level-2: 0 3.2px 7.2px 0 rgba(0, 0, 0, .26), 0 .6px 1.8px 0 rgba(0, 0, 0, .22);
$shadow-level-3: 0 6.4px 14.4px 0 rgba(0, 0, 0, .26), 0 1.2px 3.6px 0 rgba(0, 0, 0, .22);
$shadow-level-4: 0 25.6px 57.6px 0 rgba(0, 0, 0, .32), 0 4.8px 14.4px 0 rgba(0, 0, 0, .32);
$shadow-focus-border: inset 0 0 0 1px #2899f5 !important;
$color-text-primary: #faf9f8;
$color-text-primary-hover: #fff;
$color-text-secondary: #a19f9d;
$color-text-inverted: #1b1a19;
$color-text-brand: #2899f5;
$color-text-error: #f1707b;
$color-text-disabled: #797775;
$color-text-success: #7fba00;
$color-link: #1890f1;
$color-link-hover: #82c7ff;
$color-link-disabled: #797775;
$color-link-contrast: #3aa0f3;
$color-link-contrast-hover: #82c7ff;
$color-link-contrast-disabled: #797775;
$color-button-background-primary: #2899f5;
$color-button-background-primary-hover: #3aa0f3;
$color-button-background-primary-pressed: #6cb8f6;
$color-button-foreground-primary: #1b1a19;
$color-button-background-secondary: #1b1a19;
$color-button-background-secondary-hover: #252423;
$color-button-background-secondary-pressed: #252423;
$color-button-background-secondary-select-hover: #252423;
$color-button-foreground-secondary: #2899f5;
$color-button-foreground-secondary-hover: #3aa0f3;
$color-button-foreground-secondary-pressed: #6cb8f6;
$color-button-background-tertiary: #55b3ff66;
$color-button-background-danger: #c32727;
$color-button-background-danger-hover: #a52121;
$color-button-background-danger-pressed: #791818;
$color-button-foreground-danger: #fff;
$color-button-background-disabled: #252423;
$color-button-foreground-disabled: #5e5e5e;
$color-button-toolbar-foreground: #fff;
$color-button-toolbar-foreground-hover: #fff;
$color-control-background: #1b1a19;
$color-control-background-hover: #323130;
$color-control-background-selected: #3b3a39;
$color-control-background-selected-hover: #323130;
$color-control-background-secondary: #484644;
$color-control-background-secondary-selected: #a19f9d;
$color-control-background-secondary-hover: #004c87;
$color-control-background-secondary-selected-hover: #2899f5;
$color-control-border: #a19f9d;
$color-control-border-secondary: #605e5c;
$color-control-border-hover: #f3f2f1;
$color-control-border-focus: #2899f5;
$color-control-border-focus-secondary: #a19f9d;
$color-control-border-info: #1890f1;
$color-control-border-success: #95c353;
$color-control-border-warning: #ffc328;
$color-control-border-error: #f1707b;
$color-control-border-dirty: #db5fff;
$color-control-border-disabled: #5e5e5e;
$color-control-background-disabled: #252423;
$color-control-background-disabled-selected: #f3f2f1;
$color-control-disabled-foreground: #a19f9d;
$color-control-background-secondary-disabled: #282827;
$color-control-background-secondary-disabled-selected: #797775;
$color-control-background-brand: #2899f5;
$color-icon-primary: #f3f2f1;
$color-icon-secondary: #a19f9d;
$color-icon-brand: #2899f5;
$color-icon-brand-hover: #3aa0fe;
$color-icon-brand-pressed: #6cb8f6;
$color-icon-inverted: #1b1a19;
$color-icon-disabled: #a19f9d;
$color-icon-info: #1890f1;
$color-icon-success: #95c353;
$color-icon-warning: #ffc328;
$color-icon-error: #f1707b;
$color-icon-up-sell: #db5fff;
$color-container-background-primary: #1b1a19;
$color-container-background-secondary: #3b3a39;
$color-container-background-inverted: #fff;
$color-container-background-floating: #252423;
$color-container-background-info: #00245b;
$color-container-background-success: #393d1b;
$color-container-background-warning: #4f2a0f;
$color-container-background-error: #442726;
$color-container-background-up-sell: #38134a;
$color-container-border-primary: #323130;
$color-container-border-secondary: #605e5c;
$color-divider-primary: #323130;
$color-side-nav-docked: #252423;
$color-status-highlight-info: #0058ad;
$color-status-highlight-success: #7fba00;
$color-status-highlight-warning: #ffba01;
$color-status-highlight-change: #8a2da5;
$color-search-highlight-text: #000;
$color-search-highlight-background: #ff0;
$copilot-icon-background: #3b3a39;
$copilot-icon-text-color: #fff;
$copilot-icon-hover-background: #484644;
$copilot-icon-hover-text-color: #fafafa;
$copilot-icon-active-background: #292827;
$copilot-icon-active-text-color: #f3f2f1;
$copilot-icon-focus-background: #3b3a39;
$copilot-icon-focus-text-color: #98b3e1;

$top-bar-background: #252423;
$top-bar-action-hover-bg-color: #605e5c;
$top-bar-action-pressed-bg-color: #605e5c;
$top-bar-button-active-background: #fff;
$top-bar-text: #fff;
$top-bar-hamburger: #fff;
$top-bar-alternate-text-fill: #fff;
$top-bar-outline-color: #fff;
$top-bar-active-outline-color: #605e5c;
$search-background: #605e5c;
$search-background-focus: #fff;
$notification-unread-background: #fff;
$notification-unread-text: #323130;
$sidebar-background: #323130;
$sidebar-text: #fff;
$sidebar-active-background: #3e3d3c;
$sidebar-hover-background: #3e3d3c;
$sidebar-item-divider: #3b3a39;
$sidebar-collapse-button: #fff;
$sidebar-shadow-width: 6px;
$sidebar-shadow: linear-gradient(270deg, rgba(0, 0, 0, .24) 0%, rgba(0, 0, 0, 0) 100%);
$sidebar-link: #fff;
