@use './colors.scss' as *;

body {
  font-family: az_ea_font, "Segoe UI", az_font, system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: $color-container-background-primary;
  fill: $color-icon-primary;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-size: 100%;
  font-weight: inherit;
}

a {
  text-decoration: none;
}

img {
  overflow: hidden;
  max-height: 100%;
  max-width: 100%;
}

img,
a img,
:link img,
:visited img {
  border: 0;
}

[role="button"],
[role="link"] {
  cursor: pointer;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  font-size: 13px;
  line-height: 1.385;
  background: none;
  color: inherit;
}

.hide-focus-outline * {
  outline: 0 !important;
}
