<div class="current-user">
  <button class="current-user-dropdown-button" (click)="toggleDropdown()">
    <div class="current-user-info-container">
      <div class="current-user-info">
        <div class="current-user-email">
          {{ 'mengsyue.tsai@outlook.com' }}
        </div>
        <div class="current-user-name">
          {{ 'Mengsyue Amao Tsai' }}
        </div>
      </div>

      <div class="current-user-avatar">
        <img class="current-user-avatar-image" src="assets/images/default-avatar-small.png">
      </div>
    </div>
  </button>

  @if (dropdownVisible) {
    <div>
      Dropdown
    </div>
  }
</div>
